schema/jive.chart.xsd

<xs:schema targetNamespace="jive.chart" xmlns="jive.chart" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:org-aswing="org.aswing"
xmlns:org-aswing-plaf="org.aswing.plaf"
xmlns:flash-display="flash.display"
xmlns:org-aswing-geom="org.aswing.geom"
xmlns:empty="empty"
xmlns:org-aswing-graphics="org.aswing.graphics"
>
<xs:import namespace="org.aswing" schemaLocation="org.aswing.xsd" />
<xs:import namespace="org.aswing.plaf" schemaLocation="org.aswing.plaf.xsd" />
<xs:import namespace="flash.display" schemaLocation="flash.display.xsd" />
<xs:import namespace="org.aswing.geom" schemaLocation="org.aswing.geom.xsd" />
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:import namespace="org.aswing.graphics" schemaLocation="org.aswing.graphics.xsd" />
<xs:complexType name="FloatValueSchemaTypeValue">
<xs:all><xs:element ref="FloatValue"/></xs:all></xs:complexType>

<xs:complexType name="ChartPeriodSelectorUISchemaTypeValue">
<xs:all><xs:element ref="ChartPeriodSelectorUI"/></xs:all></xs:complexType>

<xs:complexType name="AxisSchemaTypeValue">
<xs:all><xs:element ref="Axis"/></xs:all></xs:complexType>

<xs:complexType name="ChartValueSchemaTypeValue">
<xs:choice>
<xs:element ref="IntValue" />
<xs:element ref="FloatValue" />
<xs:element ref="DateValue" />
</xs:choice>
</xs:complexType>

<xs:complexType name="IntValueSchemaTypeValue">
<xs:all><xs:element ref="IntValue"/></xs:all></xs:complexType>

<xs:complexType name="ChartUISchemaTypeValue">
<xs:choice>
<xs:element ref="ChartPeriodSelectorUI" />
<xs:element ref="ChartUI" />
</xs:choice>
</xs:complexType>

<xs:complexType name="PointSchemaTypeValue">
<xs:all><xs:element ref="Point"/></xs:all></xs:complexType>

<xs:complexType name="DateValueSchemaTypeValue">
<xs:all><xs:element ref="DateValue"/></xs:all></xs:complexType>

<xs:complexType name="ChartSchemaTypeValue">
<xs:choice>
<xs:element ref="ChartPeriodSelector" />
<xs:element ref="Chart" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ChartHelperSchemaTypeValue">
<xs:all><xs:element ref="ChartHelper"/></xs:all></xs:complexType>

<xs:complexType name="ChartPeriodSelectorSchemaTypeValue">
<xs:all><xs:element ref="ChartPeriodSelector"/></xs:all></xs:complexType>

<xs:complexType name="FloatValueSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="floatValue" type="xs:double"/>
<xs:element minOccurs="0" name="caption" type="xs:string"/>
</xs:all>
<xs:attribute name="floatValue" type="xs:double"/>
<xs:attribute name="caption" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ChartPeriodSelectorUISchemaType">
<xs:complexContent>
<xs:extension base="ChartUISchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AxisSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="axisName" type="xs:string"/>
</xs:all>
<xs:attribute name="axisName" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ChartValueSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="floatValue" type="xs:double"/>
<xs:element minOccurs="0" name="caption" type="xs:string"/>
</xs:all>
<xs:attribute name="floatValue" type="xs:double"/>
<xs:attribute name="caption" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="IntValueSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="floatValue" type="xs:double"/>
<xs:element minOccurs="0" name="caption" type="xs:string"/>
</xs:all>
<xs:attribute name="floatValue" type="xs:double"/>
<xs:attribute name="caption" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ChartUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="textLabel" type="empty:ArraySchemaTypeValue"/>
<xs:element minOccurs="0" name="titleLabel" type="org-aswing:JLabelSchemaTypeValue"/>
<xs:element minOccurs="0" name="xValueSize" type="xs:double"/>
<xs:element minOccurs="0" name="yValueSize" type="xs:double"/>
</xs:all>
<xs:attribute name="textLabel" type="xs:string"/>
<xs:attribute name="titleLabel" type="xs:string"/>
<xs:attribute name="xValueSize" type="xs:double"/>
<xs:attribute name="yValueSize" type="xs:double"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="PointSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="displayX" type="xs:double"/>
<xs:element minOccurs="0" name="displayY" type="xs:double"/>
<xs:element minOccurs="0" name="x" type="xs:double"/>
<xs:element minOccurs="0" name="y" type="xs:double"/>
<xs:element minOccurs="0" name="xCaption" type="xs:string"/>
<xs:element minOccurs="0" name="yCaption" type="xs:string"/>
<xs:element minOccurs="0" name="xValue" type="ChartValueSchemaTypeValue"/>
<xs:element minOccurs="0" name="yValue" type="ChartValueSchemaTypeValue"/>
</xs:all>
<xs:attribute name="displayX" type="xs:double"/>
<xs:attribute name="displayY" type="xs:double"/>
<xs:attribute name="x" type="xs:double"/>
<xs:attribute name="y" type="xs:double"/>
<xs:attribute name="xCaption" type="xs:string"/>
<xs:attribute name="yCaption" type="xs:string"/>
<xs:attribute name="xValue" type="xs:string"/>
<xs:attribute name="yValue" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DateValueSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="floatValue" type="xs:double"/>
<xs:element minOccurs="0" name="caption" type="xs:string"/>
</xs:all>
<xs:attribute name="floatValue" type="xs:double"/>
<xs:attribute name="caption" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ChartSchemaType">
<xs:complexContent>
<xs:extension base="org-aswing:ContainerSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="tickSize" type="xs:int"/>
<xs:element minOccurs="0" name="setTitle" type="org-aswing:JLabelSchemaTypeValue"/>
<xs:element minOccurs="0" name="axisPen" type="org-aswing-graphics:IPenSchemaTypeValue"/>
<xs:element minOccurs="0" name="axisLabelColor" type="org-aswing:ASColorSchemaTypeValue"/>
<xs:element minOccurs="0" name="axisMarginBetweenLabels" type="xs:int"/>
<xs:element minOccurs="0" name="axisMarginBetweenLabelsAndAxis" type="xs:int"/>
<xs:element minOccurs="0" name="graphPen" type="org-aswing-graphics:IPenSchemaTypeValue"/>
<xs:element minOccurs="0" name="selectorPen" type="org-aswing-graphics:IPenSchemaTypeValue"/>
<xs:element minOccurs="0" name="selectorBrush" type="org-aswing-graphics:IBrushSchemaTypeValue"/>
<xs:element minOccurs="0" name="selectorBubbleBorder" type="org-aswing-graphics:IPenSchemaTypeValue"/>
<xs:element minOccurs="0" name="selectorBubbleBackground" type="org-aswing-graphics:IBrushSchemaTypeValue"/>
<xs:element minOccurs="0" name="selectorBubblePadding" type="xs:int"/>
<xs:element minOccurs="0" name="selectorBubbleTailSize" type="xs:int"/>
<xs:element minOccurs="0" name="selectorBubbleCornerRadius" type="xs:int"/>
<xs:element minOccurs="0" name="selectorSize" type="xs:int"/>
<xs:element minOccurs="0" name="gridPen" type="org-aswing-graphics:IPenSchemaTypeValue"/>
<xs:element minOccurs="0" name="areaUnderLineBrush" type="org-aswing-graphics:IBrushSchemaTypeValue"/>
<xs:element minOccurs="0" name="titleFont" type="org-aswing:ASFontSchemaTypeValue"/>
<xs:element minOccurs="0" name="markBrush" type="org-aswing-graphics:IBrushSchemaTypeValue"/>
<xs:element minOccurs="0" name="markPen" type="org-aswing-graphics:IPenSchemaTypeValue"/>
<xs:element minOccurs="0" name="markSize" type="xs:int"/>
<xs:element minOccurs="0" name="minPointDistantion" type="xs:int"/>
<xs:element minOccurs="0" name="data" type="empty:ArraySchemaTypeValue"/>
<xs:element minOccurs="0" name="labelsLayer" type="org-aswing:ContainerSchemaTypeValue"/>
<xs:element minOccurs="0" name="interactionLayer" type="org-aswing:ContainerSchemaTypeValue"/>
</xs:all>
<xs:attribute name="title" type="xs:string"/>
<xs:attribute name="tickSize" type="xs:int"/>
<xs:attribute name="setTitle" type="xs:string"/>
<xs:attribute name="axisPen" type="xs:string"/>
<xs:attribute name="axisLabelColor" type="xs:string"/>
<xs:attribute name="axisMarginBetweenLabels" type="xs:int"/>
<xs:attribute name="axisMarginBetweenLabelsAndAxis" type="xs:int"/>
<xs:attribute name="graphPen" type="xs:string"/>
<xs:attribute name="selectorPen" type="xs:string"/>
<xs:attribute name="selectorBrush" type="xs:string"/>
<xs:attribute name="selectorBubbleBorder" type="xs:string"/>
<xs:attribute name="selectorBubbleBackground" type="xs:string"/>
<xs:attribute name="selectorBubblePadding" type="xs:int"/>
<xs:attribute name="selectorBubbleTailSize" type="xs:int"/>
<xs:attribute name="selectorBubbleCornerRadius" type="xs:int"/>
<xs:attribute name="selectorSize" type="xs:int"/>
<xs:attribute name="gridPen" type="xs:string"/>
<xs:attribute name="areaUnderLineBrush" type="xs:string"/>
<xs:attribute name="titleFont" type="xs:string"/>
<xs:attribute name="markBrush" type="xs:string"/>
<xs:attribute name="markPen" type="xs:string"/>
<xs:attribute name="markSize" type="xs:int"/>
<xs:attribute name="minPointDistantion" type="xs:int"/>
<xs:attribute name="data" type="xs:string"/>
<xs:attribute name="labelsLayer" type="xs:string"/>
<xs:attribute name="interactionLayer" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ChartHelperSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ChartPeriodSelectorSchemaType">
<xs:complexContent>
<xs:extension base="ChartSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="leftIndex" type="xs:int"/>
<xs:element minOccurs="0" name="rightIndex" type="xs:int"/>
<xs:element minOccurs="0" name="selectedData" type="empty:ArraySchemaTypeValue"/>
<xs:element minOccurs="0" name="leftThumb" type="flash-display:SpriteSchemaTypeValue"/>
<xs:element minOccurs="0" name="rightThumb" type="flash-display:SpriteSchemaTypeValue"/>
<xs:element minOccurs="0" name="thumbSize" type="org-aswing-geom:IntDimensionSchemaTypeValue"/>
<xs:element minOccurs="0" name="thumbBrush" type="org-aswing-graphics:IBrushSchemaTypeValue"/>
<xs:element minOccurs="0" name="unselectedAreaBrush" type="org-aswing-graphics:IBrushSchemaTypeValue"/>
</xs:all>
<xs:attribute name="leftIndex" type="xs:int"/>
<xs:attribute name="rightIndex" type="xs:int"/>
<xs:attribute name="selectedData" type="xs:string"/>
<xs:attribute name="leftThumb" type="xs:string"/>
<xs:attribute name="rightThumb" type="xs:string"/>
<xs:attribute name="thumbSize" type="xs:string"/>
<xs:attribute name="thumbBrush" type="xs:string"/>
<xs:attribute name="unselectedAreaBrush" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="FloatValue" type="FloatValueSchemaType"/>
<xs:element name="ChartPeriodSelectorUI" type="ChartPeriodSelectorUISchemaType"/>
<xs:element name="Axis" type="AxisSchemaType"/>
<xs:element name="ChartValue" type="ChartValueSchemaType"/>
<xs:element name="IntValue" type="IntValueSchemaType"/>
<xs:element name="ChartUI" type="ChartUISchemaType"/>
<xs:element name="Point" type="PointSchemaType"/>
<xs:element name="DateValue" type="DateValueSchemaType"/>
<xs:element name="Chart" type="ChartSchemaType"/>
<xs:element name="ChartHelper" type="ChartHelperSchemaType"/>
<xs:element name="ChartPeriodSelector" type="ChartPeriodSelectorSchemaType"/>
</xs:schema>
